{% extends "blog/base.html" %}
{% load staticfiles %}

{% block styles %}
    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}?v=00001">
    <link rel="stylesheet" href="{% static 'css/game.css' %}?v=00001">
    <!--  to clear the cache added '?v=00001' -->
{% endblock %}

{% block content %}


<h1>About me</h1>
<p>Thanks for visiting my blog! Check all this cool stuff about me!</p>
<p>I am the best.</p>


</body>





{% endblock %}


{% block scipts %}
{# JS SCRIPTS#}
<!-- <script type="text/javascript" src="{% static 'js/game.js' %}"></script> -->
{% endblock %}
