{% extends "blog/base.html" %}
{% load staticfiles %}

{% block styles %}
    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}?v=00001">
{% endblock %}

{% block content %}


  <li><a href=" https://ermlick.shinyapps.io/FLIGHTS/">Flights in 2015</a></li>
  <li><a href=" https://ermlick.shinyapps.io/OKCUPID/">OK Cupid Dating Preferences</a></li>
  <li><a href=" ">Home Prices in Iowa</a></li>
  <li><a href=" ">Senior Design</a></li>
  <li><a href=" ">ADT</a></li>
  <li><a href=" ">Form Paragraphs Addin</a></li>
  <li><a href=" ">Fluid Dynamics Research</a></li>
  <li><a href=" https://www.youtube.com/watch?v=eI0dkfxgP9I">Wheeled Walker</a></li>
  <li><a href=" ">Drafted Applications</a></li>
  <li><a href=" ">Soccer Stats Visualization</a></li>
  <li><a href=" ">Granted Patents</a></li> <!-- //consider legal things here -->
  <li><a href=" ">Facebook Messages</a></li>
  <li><a href=" ">Real Estate</a></li>
  <li><a href=" ">Drafted Applications</a></li>
  <li><a href="https://esmersonly.com/">ESMers Only</a></li>

{% endblock %}

{% block scipts %}
{# JS SCRIPTS#}
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock %}
